* {
	box-sizing: border-box;
}

/* 
=================
Styles Table
=================
1.0 body 
2.0 .container
3.0 :left 
		3.1left elements
4.0 :right 
    	4.1 right animation
   	    4.2 right hover styles
5.0 form styles
		5.1 input 
		5.2 button
		5.3 small
		5.4 error icons
6.0 keyframes
7.0 media query 800px and 600px
 */

body {
	background-position: bottom;
	background-position: left;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	background-size: contain;
	background-size: auto;
	background-repeat: no-repeat;
	font-size: 16px;
	font-weight: 400;
}

.container {
	display: flex;
	min-height: 100vh;
	margin-top: 5%;
}

.left {
	width: 60%;
	padding: 0 20px;
}

.left h1.head {
	color: #df6c2d;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	margin-left: 7%;
}

.left p.intro {
	color: #df6c2d;
	font-size: 24px;
	line-height: 29px;
	color: #383432;
}

.left h3 {
	font-size: 36px;
	line-height: 44px;
	color: #383432;
}

.toPad {
	padding-left: 50px;
}

span {
	color: hsl(0, 36%, 70%);
	font-weight: 300;
}

p {
	color: hsl(0, 36%, 70%);
	padding-top: 10px;
	padding-bottom: 10px;

	line-height: 26px;
}

.right {
	width: 40%;
}

.right .images {
	width: 150px;
	margin-left: -20%;
	opacity: 1;
	margin-top: 5%;
	animation-name: moveLeft;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: both;
}

.right .images:hover {
	position: absolute;
	left: 50%;
	top: 35%;
	transform: scale(3);
	cursor: pointer;
}

.right img:nth-of-type(2) {
	position: relative;
	top: 5%;
}

.right img:nth-child(3) {
	position: relative;
	top: 10%;
}

form {
	position: relative;
}

form small,
form > img {
	display: none;
}

input {
	background-color: transparent;
	border: 1px solid hsl(0, 36%, 70%);
	border-radius: 50px;
	width: 100%;
	padding: 15px 30px;
	font-size: 16px;
	height: 55px;
}

button {
	background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	box-shadow: 2px 5px 10px hsla(0, 36%, 70%);
	border: none;
	border-radius: 50px;
	padding: 15px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 55px;
}

.error-icon {
	position: absolute;
	top: 15px;
	right: 120px;
	display: none;
}

.error {
	display: inline;
}

small {
	color: hsl(0, 36%, 70%);
}

h1 {
	color: hsl(0, 6%, 24%);
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 1.1;
}

nav {
	display: none;
}

@keyframes moveLeft {
	0% {
		margin-left: -20%;
		opacity: 0;
	}

	50% {
		margin-left: -5%;
		opacity: 0.5;
	}

	100% {
		margin: 1%;
		opacity: 1;
	}
}

@media screen and (max-width: 800px) {
	.container {
		display: block;
		height: auto;
	}

	.right .images {
		display: none;
	}

	.toPad {
		padding-left: 0;
	}

	.left {
		width: 100%;
	}

	.left h1.head {
		margin-left: 0;
	}
}

@media screen and (max-width: 600px) {
	.container {
		display: block;
		height: auto;
	}

	.right .images {
		display: none;
	}

	.toPad {
		padding-left: 0;
	}

	.left {
		width: 100%;
	}

	.left h1.head {
		margin-left: 0;
	}
}
