* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

#wrapper {
	width: 1200px;
	max-width: 100%;
	/* background-color: bisque; */
	margin: 0 auto;
	overflow-x: hidden;
	padding-top: 1%;
}

.gridInit {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, minmax(0, auto));
	margin-bottom: 5%;
}

header .ani {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #DF6C2D;
}

header h1 {
	font-size: 48px;
	line-height: 59px;
	color: #DF6C2D;
	font-weight: 700;
}

#headerLeft {
	grid-column: 1/8;
	padding: 15% 10px;
}

form small,
form>img {
	display: none;
}

.email {
	width: 60%;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(56, 52, 50, 0.05);
	border-radius: 10px;
	padding: 10px 15px;
	border: none;
	margin-top: 1%;
}

.submit {
	background: #383432;
	box-shadow: 0px 4px 4px rgba(56, 52, 50, 0.05);
	border-radius: 10px;
	border: none;
	padding: 10px 25px;
	color: white;
	margin-top: 1%;
}

#headerRight {
	grid-column: 8/11;
	margin-top: 20px;
}

.imgResize {
	width: 500px;
	height: 500px;
	margin-bottom: -5%;
}

#articleLeft {
	margin-top: -15%;
	margin-left: -40%;
	grid-column: 1/3;
}

#articleRight {
	grid-column: 6/13;
	padding-top: 5%;
}

#articleRight h3 {
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	/* identical to box height */
	display: flex;
	align-items: flex-end;
	color: #383432;
	margin-bottom: 30px;
}

#articleRight ul {
	margin: 0;
	padding: 0;
}

#articleRight li {
	background: #FFFFFF;
	box-shadow: 1px 3px 6px rgba(56, 52, 50, 0.253);
	border-radius: 30px;
	list-style-type: none;
	margin-top: 20px;
	padding: 15px 25px;
	padding-left: 20px;
	color: #DF6C2D;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

#articleRight .text {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

#articleRight .tick {
	width: 30px;
	height: 21px;
}

aside .moreText {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


footer {
	padding: 3%;
	background-color: #DF6C2D;
	color: #fff;
}

footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin-top: 3%;

}

footer li {
	/* list-style-type: none; */
	margin-left: 5%;
	list-style-type: none;
}

@media screen and (max-width:900px) {
	#headerRight {
		display: none;
	}

	#headerLeft {
		grid-column: 1/13;
		padding: 15% 10px;
	}
}

@media screen and (max-width: 860px) {

	#articleLeft {
		margin-top: -15%;
		margin-left: -40%;
		grid-column: 5/13;
		grid-row: 1/2;
		text-align: center;
	}

	#articleRight {
		grid-column: 1/13;
		padding-top: 5%;
		grid-row: 2/3;
	}
}

@media screen and (max-width: 600px) {
	aside img {
		height: 500px;
		width: 500px;
	}

	aside .moreText {
		display: inline-block;

	}

	.moreText img {
		margin-left: -10%;
	}

	#headerLeft h4 {
		font-size: 16px;
		line-height: 20px;
	}

	#headerLeft p {
		font-size: 16px;
		line-height: 20px;
	}

	header .ani {
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #DF6C2D;
	}

	#headerLeft h1 {
		font-size: 24px;
		line-height: 29px;
	}

	#headerLeft h3 {
		font-size: 16px;
		line-height: 20px;
	}

	#articleRight h3 {
		font-size: 24px;
		line-height: 29px;
	}

	#articleRight .text {
		font-size: 14px;
		line-height: 17px;
	}

	#articleRight img {
		width: 15px;
		height: 11px;
	}

	.email {
		width: 70%;
		box-shadow: 0px 4px 4px rgba(56, 52, 50, 0.158);
		border-radius: 10px;
		padding: 5px 10px;
		border: none;
		margin-top: 1.5%;
	}

	.submit {
		box-shadow: 0px 4px 4px rgba(56, 52, 50, 0.158);
		padding: 5px 20px;
		margin-top: 1.5%;
	}

	.mr-5,
	.mx-5 {
		margin-right: 11rem !important;
	}

	.ml-5,
	.mx-5 {
		margin-left: 0 !important;
	}

	.logoSized {
		width: 20px;
	}
}